footer.footer.mt-5.footer__bottom(style="padding: 2rem 1rem 4rem")
  .content.has-text-centered
    p
      | This project is made by 
      a(href="https://github.com/iamphduc") iamphduc
      | .
    p
      strong Bulma 
      | by 
      a(href='https://jgthms.com') Jeremy Thomas
      | . The source code is licensed 
      a(href='http://opensource.org/licenses/mit-license.php') MIT
      | .